{% extends 'basic.html' %}


{% block title %}blog home{% endblock title %}
{% block blog_active %}active{% endblock blog_active %}
{% block body %}

{% block js %}
<script>
  let previews=document.getElementsByClassName('preview');
  Array.from(previews).forEach((element)=>{
      element.innerHTML=element.innerText;
  })
</script>  

{% endblock js %}
  
{% load static %}
<div class="container my-3">
  <h1 class="my-3">Web Series Discussion</h1>
    
    {% for post in allPost  %}
    <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Post By {{post.author|title}} <span class="badge badge-secondary" >{{post.views}} views</span></strong>
            <h3 class="mb-0">{{post.title}} </h3> 
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto">{{post.content|safe| truncatechars:500}}...</p>
            <a   href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src='/media/{{post.thumbnail}}' alt="{{post.title}}">
          </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock body %}